<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>vue2</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <h1>Campeonato Brasileiro 2016</h1>
                <br><br>

                <div class="row">
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control">
                            <label class="control-label">
                                <img :src="novoJogo.casa.time.escudo" style="height: 30px; width: 30px;">
                            </label>
                        </div>
                        <span>X</span>
                        <div class="form-group">
                            <label class="control-label">
                                <img :src="novoJogo.fora.time.escudo" style="height: 30px; width: 30px;">
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <button type="button" class="btn btn-primary">Fim de jogo</button>
                    </form>
                </div>

                <br><br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>Time</td>
                            <td>Pontos</td>
                            <td>Gols Pro</td>
                            <td>Gols Contra</td>
                            <td>Saldo</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="time in times">
                            <td><img :src="time.escudo" alt="" style="width: 30px; height: auto;"> <strong>{{time.nome}}</strong></td>
                            <td>{{time.pontos}}</td>
                            <td>{{time.gm}}</td>
                            <td>{{time.gs}}</td>
                            <td>Saldo</td>
                        </tr>
                    </tbody>
                </table>

                


            </div>
        </div>
     <!--    <ul>
            <li v-for="(time, index) in times">{{index+1}} {{time.nome}} <img :src="time.escudo" alt=""></li> 
        </ul> -->

        <!-- <ul>
            <li v-for="x in 100">{{x}}</li>
        </ul> -->

        <hr>

        <ul>
            <li v-for="(valor, chave, index) in alfabeto">
                {{index}} - {{chave}}: {{valor}}
            </li>
        </ul>
    </div>
    <script src="/dist/build.js"></script>
</body>
</html>
